# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.BlogLand.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\papal\source\repos\BlogLand\.idea\.idea.BlogLand\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
